{
  "presets": [
    [ "@babel/preset-env", {
      // https://babeljs.io/docs/en/babel-preset-env#modules
      // 不转换
      "modules": false,
      // https://babeljs.io/docs/en/babel-preset-env#usebuiltins
      "useBuiltIns": "usage",
      "corejs": 2,
      "shippedProposals": true
    } ]
  ]
}
